body{
    background-image: url(Assets/background.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

#wrapper{
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}

.profilePic{
    height: 400px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 10px;
}
.bio{
    height: 400px;
    padding: 50px 30px;
}

.favs{
    clear: both;
}

a.fav{
    font-size: 30px;
    color: #E345c6;
    text-decoration: none;
    font-family: serif;
}

a.fav:hover{
    color: red;
}

.section{
    margin: 10px 0;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding: 20px;
}

.video{
    text-align: center;
    margin-top: 30px;
}

.video p{
    font-size: 20px;
}
